In [17]:
print("Divanshi")
print("Divanshi")
print("Divanshi")

Divanshi
Divanshi
Divanshi

In [5]:
a=10
b=20
c=a+b
print(c)

30

In [11]:
a=10
b=20
c=60
d=a+b+c
print("a+b+c -->",d)

a+b+c --> 90

In [15]:
a="My name is"
b=" Anthony"
c=" Gonsalves"
d=a+b+c
print("String a+b+c is",d)

String a+b+c is My name is Anthony Gonsalves

In [21]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=a+b
print(c)

Enter the first number 4
Enter the second number 5

9

In [25]:
i=1;
while(i<10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [27]:
print(list(range(0,20,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
print("The table of 5")
for i in range(1,11):
     print(5*i)

The table of 5
5
10
15
20
25
30
35
40
45
50

In [57]:
n=int(input("Enter the number uptill which you want the sum"))
sum=0
for i in range(0,n+1):
    sum=sum+i
print(sum)

Enter the number uptill which you want the sum 10

55

In [45]:
print("The table of 7")
for i in range(1,11):
     print(7*i)

The table of 7
7
14
21
28
35
42
49
56
63
70

In [49]:
print("The table of 9")
for i in range(1,11):
     print(9*i)

The table of 9
9
18
27
36
45
54
63
72
81
90

In [53]:
a=int(input("Enter the number whose table you want"))
for i in range(1,11):
    print(a*i)

Enter the number whose table you want 8

8
16
24
32
40
48
56
64
72
80

In [59]:
a=int(input("Enter first number"))
if (a%2==0):
    print("a is even")
else:
    print("a is odd")

Enter first number 5

a is odd

In [61]:
def add(a,b):
    c=a+b
    return c

print(add(10,20))

30

In [69]:
def isprime(n):
    for i in range(2,n//2+1):
        if n%i==0:
            return 0

        else:
            return 1
print(isprime(7))

1

In [73]:
sum=0
def addodd(a,b):
    sum=sum+list(range(0,11,1))
    
print(sum)

0

In [95]:
import math as m
print(m.exp(-200))
m.log(10,2)
m.log10(100)
m.cos(30)
m.sin(30)
m.tan(30)
m.sqrt(256)
m.ceil(89.9)
m.floor(89.9)

1.3838965267367376e-87

89

In [103]:
str="Hello World"
print(str)  
print(len(str))
print(str.upper())
print(str.lower())

Hello World
11
HELLO WORLD
hello world

In [109]:
name=input("Enter your name")
age=int (input("Enter your age"))
price=float(input("Enter the price of the item"))
s="\n Your name %s,age %d and price of item %f"%(name.upper(),age,price)
print(s)

Enter your name divanshi
Enter your age 20
Enter the price of the item 2000

 Your name DIVANSHI,age 20 and price of item 2000.000000

In [111]:
str="""This is a way to write paragraphs
in python and its really an interesting way.
What we just do is to create 3 quotes and write
our content"""
print(str)

This is a way to write paragraphs
in python and its really an interesting way.
What we just do is to create 3 quotes and write
our content

In [123]:
var="   Indian Army       "
print(len(var))
print(var.strip())
print(len(var.strip()))

21
Indian Army
11

In [3]:
var="Indian Institute of Technology   "
print(len(var))
print(var.split())
print(var.split(','))

33
['Indian', 'Institute', 'of', 'Technology']
['Indian Institute of Technology   ']

In [19]:
var="Indian Institute of Technology"
print(len(var))
print(var.count(''))
print(var.count('t'))
print(var.count('I'))

30
31
3
2

In [35]:
var="Divanshi"
print(var)
print(var[::1])
print(var[::2])
print(var[::-1])
print(var[::-2])

Divanshi
Divanshi
Dvnh
ihsnaviD
isai

In [39]:
var="Divanshi"
var=var[::-1]
print(var)

ihsnaviD

In [51]:
print("This checks the palindrome")
s1="Indian Institute"
s2="punjabi"
s3="madam"
s4="teacher"
print(s1==s1[::-1])
print(s2==s2[::-1])
print(s3==s3[::-1])

This checks the palindrome
False
False
True

In [65]:
import random as r
print(r.random())
print(r.random())
print(round(r.random(),4))

0.3078260629469963
0.85441126385811
0.4438

In [79]:
import random as r
print(r.randint(1,100))
print(r.randint(1,100))
print(r.randint(-1,10))

48
62
2

In [89]:
print("Real Number generation")
import random as r
print(r.uniform(1,100))
print(r.uniform(-10,2))
print(round(r.uniform(-10,2),2))

Real Number generation
47.4299202113268
-3.704821703241265
-1.72

In [101]:
import random as r
a=[1,2,3,4,5,6]
print(r.sample(a,4))
print(r.sample(a,2))
print(r.sample(range(0,100),2))
print(r.sample(range(10,60),5))

[6, 5, 4, 1]
[1, 5]
[86, 98]
[34, 15, 40, 51, 14]

In [121]:
import string as s
import random as r
print("String is",s.ascii_letters)
passwd=r.sample(s.ascii_letters,8)
print(passwd)
passwd1="".join(passwd)
print(passwd1)
passwd2="+".join(passwd)
print(passwd2)
passwd3="-".join(passwd)
print(passwd3)

String is abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
['q', 'c', 'z', 'R', 'V', 'h', 'k', 'u']
qczRVhku
q+c+z+R+V+h+k+u
q-c-z-R-V-h-k-u

In [139]:
import string as s
import random as r
print(s.digits)
otp=r.sample(s.digits,5)
print(otp)
passwd1="".join(otp)
print(passwd1)
passwd2="+".join(otp)
print(passwd2)
passwd3=".".join(otp)
print(otp)

0123456789
['2', '5', '0', '3', '7']
25037
2+5+0+3+7
['2', '5', '0', '3', '7']

In [151]:
import string as s
import random as r
print("String+Digits",s.ascii_letters+s.digits)
mixpasswd=r.sample(s.ascii_letters+s.digits,8)
print(mixpasswd)
mixpasswd1="".join(mixpasswd)
print(mixpasswd1)

String+Digits abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
['d', 'M', 'k', 'B', '3', 'w', 'I', 'U']
dMkB3wIU

In [157]:
print("Exception Handling:")
for i in range(-10,10):
    try:
        print(100/i)
    except:
        print("Error")

Exception Handling:
-10.0
-11.11111111111111
-12.5
-14.285714285714286
-16.666666666666668
-20.0
-25.0
-33.333333333333336
-50.0
-100.0
Error
100.0
50.0
33.333333333333336
25.0
20.0
16.666666666666668
14.285714285714286
12.5
11.11111111111111

In [161]:
l=[1,2,3,4,5]
for i in range(8):
    try:
        print(i,l[i])
    except:
        print("Error")

0 1
1 2
2 3
3 4
4 5
Error
Error
Error

In [163]:
filename=input("Enter the file name")
fp=open(filename)
fp.close()
print("Done")

Enter the file name test

FileNotFoundError: [Errno 2] No such file or directory: 'test'

In [165]:
filename=input("Enter the filename")
try:
    fp=open(filename)
    fp.close()

except:
    print("Error the file not present")

print("done")

Enter the filename test

Error the file not present
done

In [169]:
L=['apple','orange','Guava']
print(L)
print(len(L))

['apple', 'orange', 'Guava']
3

In [173]:
List=['apple',3.14,7]
print(List)
i=0
while i<len(List):
    print(List[i])
    i=i+1

['apple', 3.14, 7]
apple
3.14
7

In [179]:
List=['My','name is','Divanshi']
print(len(List))
for i in range(0,len(List)):
    print(List[i])

3
My
name is
Divanshi

In [181]:
List=['My','name is','Divanshi']
print(len(List))
for s in List:
    print(s)

3
My
name is
Divanshi

In [193]:
List=['My','name is','Divanshi']
print(List)
List.append("UCS 712")
print(List)
del List[0]
print(List)

['My', 'name is', 'Divanshi']
['My', 'name is', 'Divanshi', 'UCS 712']
['name is', 'Divanshi', 'UCS 712']

In [221]:
List=[1,8,3,7,5,6,4,12,11,10]
print(List)
print(sum(List))
print(sum(List)/len(List))
print(max(List))
print(min(List))
List.sort()
print(List)
List.sort(reverse=True)
print(List)

[1, 8, 3, 7, 5, 6, 4, 12, 11, 10]
67
6.7
12
1
[1, 3, 4, 5, 6, 7, 8, 10, 11, 12]
[12, 11, 10, 8, 7, 6, 5, 4, 3, 1]

In [235]:
l1=[1,2,3,4,5]
l2=[8,5,6,9,2]
l3=l1+l2
print(l3)
print(l3[2:])
print(l3[2:5])
print(l3[:5])
print(l3[::3])

[1, 2, 3, 4, 5, 8, 5, 6, 9, 2]
[3, 4, 5, 8, 5, 6, 9, 2]
[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 4, 5, 2]

In [239]:
List=[1,2,3,4,5]
print(List)
newL=[i*3 for i in List]
print(newL)

[1, 2, 3, 4, 5]
[3, 6, 9, 12, 15]

In [247]:
L=[3, 6, 9, 12, 5, 3, 2]
print(6 in L)
print(2 in L)
print(10 in L)
if (6 in L)==True:
    print("Present")
else:
    print("Not present")

True
True
False
Present

In [281]:
cgpa={1:9.55,2:8.00,4:8.9 ,7:9.11}
print(cgpa)
print(len(cgpa))
print(cgpa[1])

for k in cgpa:
    print(cgpa[k])
print(cgpa.keys())
print(cgpa.values())
cgpa[3]=9.22
print(cgpa)
del cgpa[1]
print(cgpa)
cgpa.clear()
print(cgpa)
print(2 in cgpa)

{1: 9.55, 2: 8.0, 4: 8.9, 7: 9.11}
4
9.55
9.55
8.0
8.9
9.11
dict_keys([1, 2, 4, 7])
dict_values([9.55, 8.0, 8.9, 9.11])
{1: 9.55, 2: 8.0, 4: 8.9, 7: 9.11, 3: 9.22}
{2: 8.0, 4: 8.9, 7: 9.11, 3: 9.22}
{}
False

In [289]:
home={"prasanth":"Delhi","Govinda":"Goa","Rakesh":"Rampur"}
for d in home:
    print(home[d])

Delhi
Goa
Rampur

In [313]:
tup=("Dolly",3.01,5,71)

i=0
while i<len(tup):
    print(tup[i])
    i=i+1
print("Add elements to tuple")
t1=list(tup)
t1.append(10)
tup=tuple(t1)
print(tup)

Dolly
3.01
5
71
Add elements to tuple
('Dolly', 3.01, 5, 71, 10)

In [349]:
a=set(['a','b','c','d'])
b=set(['c','m','n','r'])

print(s)
print(len(s))
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a-b)
print(b.difference(a))
print(a.symmetric_difference(b))
print(a.symmetric_difference(a))
a.add('f')
print(a)
a.remove('f')
print(a)
a.pop()
print(a)

{'b', 'd', 'c', 'a'}
4
{'n', 'r', 'm', 'c', 'b', 'd', 'a'}
{'c'}
{'b', 'd', 'a'}
{'b', 'd', 'a'}
{'m', 'n', 'r'}
{'n', 'r', 'm', 'b', 'd', 'a'}
set()
{'c', 'f', 'b', 'd', 'a'}
{'c', 'b', 'd', 'a'}
{'b', 'd', 'a'}

In [353]:
import sys
print(sys.argv)
a=int(sys.argv[1])
b=int(sys.argv[2])
print(a+b)

['C:\\Users\\Divanshi\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Divanshi\\AppData\\Roaming\\jupyter\\runtime\\kernel-d50f351c-376e-4437-b639-8829165df7b6.json']

ValueError: invalid literal for int() with base 10: '-f'

In [361]:
import sys
print(sys.argv)
a=sys.argv[1]
b=sys.argv[2]
print(a+b)

['C:\\Users\\Divanshi\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Divanshi\\AppData\\Roaming\\jupyter\\runtime\\kernel-d50f351c-376e-4437-b639-8829165df7b6.json']
-fC:\Users\Divanshi\AppData\Roaming\jupyter\runtime\kernel-d50f351c-376e-4437-b639-8829165df7b6.json

In [365]:
fp=open('result.txt','w')	
for  i in range(1,11):
	fp.write(str(i) + "\n")
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

In [369]:

fp=open('result.txt')		
for line in fp: 		    
	print (line.strip())
fp.close()

1
2
3
4
5
6
7
8
9
10

In [377]:
Readfp=open('result.txt')		
Writefp=open('abc.txt','w')	
for line in Readfp:
	Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print ("\nOpen result.txt to view the content")
Readfp=open('result.txt')		
Writefp=open('abc.txt','w')	
for line in Readfp:
	Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print (" \nOpen result.txt to view the content")

Open result.txt to view the content

Open result.txt to view the content